body {
  text-align: center;
  font-family: Helvetica;
}

.wallpaper {
  background-image: url("the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
}

.navigation {
  font-size: 12px;
  font-weight: normal;
}

a {
  color: white;
  font-weight: normal;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}
